.create-update{
    border: solid black 1px;
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
}
.textarea {
    border: 1px solid #ccc;
    width: 95%;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
}
.textarea {
    display: block;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}  
.textarea[contenteditable]:empty::before {
    content: "";
    color: gray;
  }