@import url('../css/fonts.css');
html, body{
	margin: 0;
		box-sizing: border-box;
		overflow-x: hidden;
}
:root{
	/*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}
/* ---------------- Global Classes ---------------*/
::placeholder {
    font-family: var(--Abel);
}
a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/
/* --------------- navbar ----------------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 4.2rem;
    /* min-height: 14vh; */
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: fit-content;
}

.nav .nav-items{
    display: flex;
    margin: 0;
    height: 100%;
}

.nav .nav-items .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
    width: fit-content;
    cursor: pointer;
}
.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
    width: fit-content;
}

/* -------x------- navbar ---------x------- */

/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title{
    background: url('../Images/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
/* ___x_______________img title________x____ */
/* --------------- Blog Carousel ------------ */

main .blog{
    background: url('../Images/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}
/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}

.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}

/* -------x-------- Site Content --------x-------*/

/* --------------- Sidebar ----------------------- */

.site-content > .sidebar .category-list{
    font-family: var(--Livvic);   
}

.site-content > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.site-content > .sidebar .category-list .list-items a{
    color:  black;
}

/* -------x------- Sidebar -----------x----------- */
/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

/* footer.footer .move-up{
    position: fixed;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
} */

/* ---------x------- Footer ----------x---------- */
/* ___x_______________main content________x____ */
.bw-flashing-btn {
	display: none;
	color: white;
	background-color: black;
	border: black 1px solid;
    font-family: var(--Lexend);
	padding: 2px;
	user-select: none;
	width: fit-content;
}
.bw-flashing-btn:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}
#admin-panel {
	background: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	padding: 15px;
    text-align: center;
    font-family: var(--Lexend);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	font-size: 15px;
	height: 300px;
	overflow-y: auto;
}
#account-panel {
    background: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 30%;
	padding: 15px;
    text-align: center;
    font-family: var(--Lexend);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	font-size: 15px;
	height: fit-content;
	overflow-y: auto;
}
#logout-btn {
    border: black 1px solid;
}
#logout-btn:hover {
    background-color: black;
    color: white;
}
#logout-form {
    font-family: var(--Abel);
	background: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	font-size: 15px;
	width: fit-content;
	height: fit-content;
	overflow-y: auto;
}
.manage-btn {
	color: white;
	background-color: rgb(31, 177, 31);
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	user-select: none;
}
.manage-btn:hover {
	background-color: rgb(18, 90, 18);
}
.manage-table {
	font-family: var(--Lexend);
  	border-collapse: collapse;
 	width: 100%;
}
.manage-table tr td {
	text-align: center;
}
.manage-table tr:nth-child(even) {
	background-color: #dddddd;
}
.action-btn {
	background-color: black;
	color: white;
	padding: 3px;
	width: 10px;
	height: 10px;
	user-select: none;
	border: black 1px solid;
}
.action-btn:hover {
	color: black;
	background-color: white;
}
.close-modal-btn {
	display: block;
	width: 50px;
	color: white;
	background-color: rgb(255, 0, 0);
	margin-left: 2px;
	margin-bottom: 10%;
	user-select: none;
}
.close-modal-btn:hover {
	background-color: rgb(146, 0, 0)
}
.modal-bg {
	display: none; 
	position: fixed; 
	z-index: 2; 
	padding-top: 50px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}
.logout-modal-bg {
	display: none; 
	position: fixed; 
	z-index: 3; 
	padding-top: 50px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}
.form {
    font-family: var(--Abel);
	background: #FFFFFF;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	font-size: 15px;
    height: fit-content;
    border: black solid 5px;
	overflow-y: auto;
  }
.form input {
	background: #f2f2f2;
	align-self: center;
	width: 90%;
	padding: 15px;
	outline: 0;
	margin-bottom: 15px;
	font-size: 14px;
	border: 0;
  }
  .form-btn {
    border: black 1px solid;
    color: black;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-btn:hover {
      color: white;
      background-color: black;
  }
  .form .message {
	color: #b3b3b3;
	margin-top: 10px;
	font-size: 12px;
  }
  .form .message a {
    color: #000000;
    text-decoration: underline;
  }
  #review-area {
	  background-color: white;
	  padding: 5%;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
	  width: 80%;
      margin: auto;
  }
  .see-more-option {
      width: 30%;
      transition: all .2s ease-in-out;
      cursor: pointer;
  }
  .see-more-option:hover {
    transform: scale(1.1);
  }
/* ------------------BUTTON-------------------- */
#top-buttom_image {
    position:fixed;
    bottom:5px;
    right:5px;
    /* clip:inherit; */
}
/* ---x--------------BUTTON----------------x--- */
/* ____________________________________ */
/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .see-more-option {
        width: 40%;
    }
}
/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-link {
        min-width: 80%;
    }
    .see-more-option {
        width: 80%;
    }
}

/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }
    .nav{
        min-height: 10vh;
    }
    nav .toggle-collapse{
        width: 80% !important;
    }
    .nav-link {
        min-width: 80%;
    }
    .see-more-option {
        width: 80%;
    }
}

